{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md mt-4">
    <article>
        <h2>
            {{ savedCard.name }}
        </h2>
        <hr>
        <div class="row">
            <div class="col-3 zoom">
                <img src="{{ scryInfo.image_uris.png }}" heigh="75%" width="75%">
            </div>
            <div class="col-5 cardInfo bg-light">
                <h4>Additional Info:</h4>
                <p><b>Card Type:</b> {{ scryInfo.type_line }}</p>
                <p><b>Oracle Text:</b> {{ scryInfo.oracle_text }}</p>
                <p><b>Converted Mana Cost:</b> {{ scryInfo.cmc }}</p>
                <p><b>Purchase card at tcgplayer.com:</b> <a href="{{ scryInfo.purchase_uris.tcgplayer }}">Buy now!</a></p>
            </div>
            <div class="col-4"></div>
        </div>
        {% if savedCard.notes %}
            <p class="mt-4">User notes:</p>
            <div class="cardInfo col-3 mt-2 bg-light">
                <p class="mt-2 ms-2">{{ savedCard.notes }} </p>
            </div>
        {% endif %}
    <hr>
        {% if savedCard.owner == userId %}
        <div class="btn-group mt-3">
            <form action="/savedCards/edit/{{ savedCard.id }}" method="GET">
                <input type="submit" value="Edit" class="btn btn-success me-3">
            </form>
            <form action="/savedCards/{{ savedCard.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Remove" class="btn btn-danger me-3">
            </form>
            <a href="/savedCards/user/{{ userId }}" class="btn btn-warning">Back</a>
        {% else %}
            <a href="javascript:history.back()" class="btn btn-warning">Back</a>
        {% endif %}
        </div>
    </article>
</div>
{% endblock %}