{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md mt-4">
    <article>
        <h2>
            {{ savedCard.name }}
        </h2>
        <hr>
        <div class="row">
            <div class="col-4 zoom">
                <img src="{{ scryInfo.image_uris.png }}" heigh="75%" width="75%">
            </div>
            <div class="col-5 cardInfo bg-light">
                <h5 class="mt-2">Additional Info:</h5>
                <p><b>Card Type:</b> {{ scryInfo.type_line }}</p>
                <p><b>Set:</b> {{ scryInfo.set_name }}</p>
                <p><b>Oracle Text:</b> {{ scryInfo.oracle_text }}</p>
                <hr>
                <h5>Links:</h5>
                <p><b>View card on Gatherer:</b> <a href="{{ scryInfo.related_uris.gatherer }}">Here.</a></p>
                <p><b>View card on EDHREC:</b> <a href="{{ scryInfo.related_uris.edhrec }}">Here.</a></p>
                <p><b>Purchase card at tcgplayer.com:</b> <a href="{{ scryInfo.purchase_uris.tcgplayer }}">Buy now!</a></p>
            </div>
            <div class="col-3"></div>
        </div>
        {% if savedCard.notes.length > 0 %}
            <p class="mt-4">User notes:</p>
            <div class="cardInfo col-3 mt-2 bg-light">
                <p class="mt-2 ms-2">{{ savedCard.notes }}</p>
            </div>
        {% endif %}
    <hr>
        {% if savedCard.owner == userId %}
        <div class="btn-group mt-3">
            <a href="/savedCards/edit/{{ savedCard.id }}" class="btn btn-outline-primary">Add/Edit Note</a>
            <form action="/savedCards/{{ savedCard.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Remove" class="btn btn-outline-primary btn-small rounded-0 border-start-0">
            </form>
            <a href="/savedCards/user/{{ userId }}" class="btn btn-outline-primary btn-small">Back</a>
        </div>
        {% else %}
            <a href="javascript:history.back()" class="btn btn-outline-primary">Back</a>
        {% endif %}
        
    </article>
</div>
{% endblock %}